# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
namefile.txt
nombres.txt
Canciones/Can't hold us.mp3
partir canciones
Canciones/Cha cha cha.mp3
Canciones/Con calma remix.mp3
Canciones/danny_ocean_me_rehuso.mp3
Canciones/Imagine Dragons- Bealiver.mp3
Canciones/Initial D - Running in The 90s.mp3
Canciones/Stolen Dance.mp3
Canciones/Two Feet - Go Fck Yourself.mp3
Canciones/Somebody that i use to know-gotye.mp3
Canciones/spotifyserver.py
Canciones/Piso 21-Me llamas.mp3
Canciones/Deja Vu.mp3
PartesCanciones/1-4Cha cha cha.mp3
PartesCanciones/1-4Con calma remix.mp3
PartesCanciones/1-4danny_ocean_me_rehuso.mp3
PartesCanciones/1-4Imagine Dragons- Bealiver.mp3
PartesCanciones/1-4Two Feet - Go Fck Yourself.mp3
PartesCanciones/1-5Deja Vu.mp3
PartesCanciones/1-4Somebody that i use to know-gotye.mp3
PartesCanciones/1-4Piso 21-Me llamas.mp3
PartesCanciones/1-7Can't hold us.mp3
PartesCanciones/1-6Stolen Dance.mp3
PartesCanciones/2-4Con calma remix.mp3
PartesCanciones/1-7Initial D - Running in The 90s.mp3
PartesCanciones/2-4danny_ocean_me_rehuso.mp3
PartesCanciones/2-4Piso 21-Me llamas.mp3
PartesCanciones/2-5Deja Vu.mp3
PartesCanciones/2-4Imagine Dragons- Bealiver.mp3
PartesCanciones/2-4Two Feet - Go Fck Yourself.mp3
PartesCanciones/2-4Cha cha cha.mp3
PartesCanciones/3-4Cha cha cha.mp3
PartesCanciones/3-4Somebody that i use to know-gotye.mp3
PartesCanciones/3-7Initial D - Running in The 90s.mp3
PartesCanciones/4-4danny_ocean_me_rehuso.mp3
PartesCanciones/2-4Somebody that i use to know-gotye.mp3
PartesCanciones/2-6Stolen Dance.mp3
PartesCanciones/2-7Can't hold us.mp3
PartesCanciones/2-7Initial D - Running in The 90s.mp3
PartesCanciones/3-4Con calma remix.mp3
PartesCanciones/3-4danny_ocean_me_rehuso.mp3
PartesCanciones/3-4Imagine Dragons- Bealiver.mp3
PartesCanciones/3-4Piso 21-Me llamas.mp3
PartesCanciones/3-4Two Feet - Go Fck Yourself.mp3
PartesCanciones/3-5Deja Vu.mp3
PartesCanciones/3-6Stolen Dance.mp3
PartesCanciones/3-7Can't hold us.mp3
PartesCanciones/4-4Cha cha cha.mp3
PartesCanciones/4-4Con calma remix.mp3
PartesCanciones/4-4Imagine Dragons- Bealiver.mp3
PartesCanciones/7-7Initial D - Running in The 90s.mp3
PartesCanciones/4-4Somebody that i use to know-gotye.mp3
PartesCanciones/4-5Deja Vu.mp3
PartesCanciones/4-6Stolen Dance.mp3
PartesCanciones/4-7Can't hold us.mp3
PartesCanciones/4-7Initial D - Running in The 90s.mp3
PartesCanciones/5-5Deja Vu.mp3
PartesCanciones/5-6Stolen Dance.mp3
PartesCanciones/5-7Can't hold us.mp3
PartesCanciones/5-7Initial D - Running in The 90s.mp3
PartesCanciones/6-7Can't hold us.mp3
PartesCanciones/6-7Initial D - Running in The 90s.mp3
PartesCanciones/7-7Can't hold us.mp3
Server 1/Canciones/1-2#%#&Cha cha cha.mp3
Server 1/Canciones/1-2#%#&Con calma remix.mp3
Server 1/Canciones/1-2#%#&danny_ocean_me_rehuso.mp3
Server 1/Canciones/1-2#%#&Imagine Dragons- Bealiver.mp3
Server 1/Canciones/1-2#%#&Piso 21-Me llamas.mp3
Server 1/Canciones/1-2#%#&Somebody that i use to know-gotye.mp3
Server 1/Canciones/1-2#%#&Two Feet - Go Fck Yourself.mp3
Server 1/Canciones/1-3#%#&Deja Vu.mp3
Server 1/Canciones/3-4#%#&Can't hold us.mp3
Server 2/spotifyserver.py
Server 2/Canciones/1-3#%#&Stolen Dance.mp3
Server 2/Canciones/1-4#%#&Can't hold us.mp3
Server 2/Canciones/1-4#%#&Initial D - Running in The 90s.mp3
Server 2/Canciones/2-2#%#&Cha cha cha.mp3
Server 2/Canciones/2-2#%#&Con calma remix.mp3
Server 2/Canciones/2-2#%#&danny_ocean_me_rehuso.mp3
Server 2/Canciones/2-2#%#&Imagine Dragons- Bealiver.mp3
Server 2/Canciones/2-2#%#&Piso 21-Me llamas.mp3
Server 2/Canciones/3-4#%#&Initial D - Running in The 90s.mp3
Server 3/spotifyserver.py
Server 3/Canciones/2-2#%#&Somebody that i use to know-gotye.mp3
Server 3/Canciones/2-2#%#&Two Feet - Go Fck Yourself.mp3
Server 3/Canciones/2-3#%#&Deja Vu.mp3
Server 3/Canciones/2-3#%#&Stolen Dance.mp3
Server 3/Canciones/2-4#%#&Can't hold us.mp3
Server 3/Canciones/2-4#%#&Initial D - Running in The 90s.mp3
Server 3/Canciones/3-3#%#&Deja Vu.mp3
Server 3/Canciones/3-3#%#&Stolen Dance.mp3
Server 3/Canciones/4-4#%#&Can't hold us.mp3
Server 3/Canciones/4-4#%#&Initial D - Running in The 90s.mp3
Server 1/spotifyserver.py
Imagine Dragons- Bealiver.mp3
